*, *::before, *::after {
  box-sizing: border-box; }

ul[class], ol[class] {
  padding: 0; }

body, h1, h2, h3, h4, p, ul[class], ol[class], figure, blockquote, dl, dd {
  margin: 0; }

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

ul[class], ol[class] {
  list-style: none; }

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto; }

img {
  max-width: 100%;
  display: block; }

article > * + * {
  margin-top: 1em; }

input, button, textarea, select {
  font: inherit; }

img:not([alt]) {
  -webkit-filter: blur(10px);
          filter: blur(10px); }

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: .01ms !important;
            animation-duration: .01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: .01ms !important;
            transition-duration: .01ms !important;
    scroll-behavior: auto !important; } }

/* Coolors Exported Palette - coolors.co/264653-2a9d8f-e9c46a-f4a261-e76f51 */
/* HSL */
/* RGB */
body {
  font-family: 'Slabo 27px', serif;
  font-size: 1.3rem;
  line-height: 1.6em;
  letter-spacing: 0.02em;
  color: #264653;
  margin: 0;
  padding: 0; }

a {
  color: #2a9d8f; }

.heading, .feature-logo, h1, h2, h3, h4, h4, h5, h6, strong, b {
  font-family: 'Do Hyeon', sans-serif;
  font-weight: 400;
  line-height: 1.2em;
  letter-spacing: 0.04em; }

b, strong {
  color: #f4a261; }

* + p {
  padding-top: 1em; }

header, section, footer {
  position: relative;
  padding: 10rem 30px;
  text-align: center;
  margin-bottom: 30px; }
  header h2, section h2, footer h2 {
    margin-bottom: 3em; }
    @media only screen and (max-width: 768px) {
      header h2, section h2, footer h2 {
        margin-bottom: 2em; } }
  @media only screen and (max-width: 768px) {
    header, section, footer {
      padding: 3rem 30px; } }

header {
  background-color: #264653;
  color: white; }
  @media only screen and (max-width: 1024px) {
    header .flexbox {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
              flex-direction: column-reverse; }
    header .content-side {
      margin-top: 0; }
    header .content-side:nth-child(1) {
      margin-top: 2em; } }

.wrap {
  width: 1000px;
  max-width: 100%;
  margin: auto; }

.flexbox {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  text-align: left;
  -webkit-box-align: center;
          align-items: center; }
  @media only screen and (max-width: 1024px) {
    .flexbox {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column; } }

.flextop {
  -webkit-box-align: start;
          align-items: flex-start; }

.feature-logo {
  background-color: white;
  padding: 2em;
  color: #264653;
  font-size: 4em;
  -webkit-transform: rotate3d(-1, 1, -0.25, 20deg);
          transform: rotate3d(-1, 1, -0.25, 20deg);
  -webkit-animation: logowiggle 3s infinite;
          animation: logowiggle 3s infinite;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 30%;
  background-image: url(../images/audio-wave.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 0%;
  text-shadow: 4px 4px white;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 5em;
  height: 5em; }
  @media only screen and (max-width: 1024px) {
    .feature-logo {
      width: 3em;
      height: 3em;
      padding: 1em;
      background-size: 200% auto;
      background-attachment: local; } }

@-webkit-keyframes logowiggle {
  0% {
    -webkit-transform: rotate3d(-1, 1, -0.25, -20deg);
            transform: rotate3d(-1, 1, -0.25, -20deg); }
  50% {
    -webkit-transform: rotate3d(-1, 1, -0.25, 50deg);
            transform: rotate3d(-1, 1, -0.25, 50deg); }
  100% {
    -webkit-transform: rotate3d(-1, 1, -0.25, -20deg);
            transform: rotate3d(-1, 1, -0.25, -20deg); } }

@keyframes logowiggle {
  0% {
    -webkit-transform: rotate3d(-1, 1, -0.25, -20deg);
            transform: rotate3d(-1, 1, -0.25, -20deg); }
  50% {
    -webkit-transform: rotate3d(-1, 1, -0.25, 50deg);
            transform: rotate3d(-1, 1, -0.25, 50deg); }
  100% {
    -webkit-transform: rotate3d(-1, 1, -0.25, -20deg);
            transform: rotate3d(-1, 1, -0.25, -20deg); } }

.content-side + .content-side, .content-col + .content-side, .content-side + .content-col, .content-col + .content-col {
  margin-left: 2rem; }
  @media only screen and (max-width: 1024px) {
    .content-side + .content-side, .content-col + .content-side, .content-side + .content-col, .content-col + .content-col {
      margin-left: 0;
      margin: auto;
      margin-top: 5rem; } }

.content-side {
  min-width: 30%; }

.content-col {
  width: 100%; }

.hlight {
  display: inline-block;
  padding-bottom: .4em;
  border-bottom: 0.1em solid #e76f51; }

.hbox {
  display: inline-block;
  padding: .3em .5em;
  background-color: #2a9d8f;
  color: white;
  border-radius: .2em;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: 0.3em solid #e9c46a;
  margin-left: .8em; }

.card {
  border-radius: 1em;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden; }
  .card p {
    padding: 1em; }
    .card p + p {
      padding-top: 0; }

.quote {
  background-color: #2a9d8f; }
  .quote blockquote {
    font-size: 2rem;
    line-height: 1.5;
    text-align: left;
    border-left: 0.5em solid #e9c46a;
    padding-left: 1em;
    margin-bottom: 1em;
    color: white; }

.logo {
  width: 200px;
  margin: auto; }
  .logo img {
    width: 100%; }

.workwith {
  background-color: #f4a261; }
  .workwith .flexbox {
    background-color: white;
    padding: 30px;
    border-radius: 10px; }

.premium ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  line-height: 1.5;
  text-align: left; }
  @media only screen and (max-width: 768px) {
    .premium ul {
      font-size: 1.2em; } }

.premium li + li {
  margin-top: 3em; }

.premium strong {
  display: block;
  color: #2a9d8f; }

.download {
  background-color: #264653;
  color: white; }

.button {
  font-size: 3rem;
  padding: .5em .8em;
  background-color: #e76f51;
  border-radius: .4em;
  text-decoration: none;
  color: white;
  display: inline-block;
  -webkit-transition: .2s all;
  transition: .2s all;
  margin-bottom: 1em; }
  .button small {
    font-size: 1rem;
    display: inline-block; }
  .button:hover {
    background-color: #f4a261; }

.social {
  position: fixed;
  top: 120px;
  right: 0;
  z-index: 500;
  background: white; }
  @media only screen and (max-width: 768px) {
    .social {
      top: auto;
      bottom: 30px;
      -webkit-transform: none;
              transform: none; } }
  .social strong {
    display: block;
    font-size: 11px;
    text-align: center;
    padding: 3px; }
    @media only screen and (max-width: 768px) {
      .social strong {
        display: none; } }
  .social a {
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center; }
    @media only screen and (max-width: 768px) {
      .social a {
        width: 30px;
        height: 30px; } }
    .social a img {
      max-width: 60%;
      max-height: 60%;
      -webkit-transition: .2s transform;
      transition: .2s transform; }
    .social a.fb {
      background-color: #4C77D8; }
    .social a.tw {
      background-color: #059FF5; }
    .social a.li {
      background-color: #0073b1; }
    .social a.wa {
      background-color: #01e675; }
    .social a.em {
      background-color: black; }
    .social a:hover img, .social a:focus img {
      -webkit-transform: scale(1.3);
              transform: scale(1.3); }

.page-overlay {
  position: fixed;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  pointer-events: none;
  z-index: 1000;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-transition: 1s all;
  transition: 1s all;
  opacity: 0; }
  .page-overlay.open {
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    pointer-events: auto; }
  .page-overlay__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/grainy.png);
    opacity: .5;
    pointer-events: none;
    z-index: 1000;
    -webkit-animation: grain 12s steps(10) infinite;
            animation: grain 12s steps(10) infinite;
    z-index: 10; }
  .page-overlay__text {
    position: relative;
    z-index: 20;
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px; }

@-webkit-keyframes grain {
  0%, 100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  10% {
    -webkit-transform: translate(-5%, -10%);
            transform: translate(-5%, -10%); }
  20% {
    -webkit-transform: translate(-15%, 5%);
            transform: translate(-15%, 5%); }
  30% {
    -webkit-transform: translate(7%, -25%);
            transform: translate(7%, -25%); }
  40% {
    -webkit-transform: translate(-5%, 25%);
            transform: translate(-5%, 25%); }
  50% {
    -webkit-transform: translate(-15%, 10%);
            transform: translate(-15%, 10%); }
  60% {
    -webkit-transform: translate(15%, 0%);
            transform: translate(15%, 0%); }
  70% {
    -webkit-transform: translate(0%, 15%);
            transform: translate(0%, 15%); }
  80% {
    -webkit-transform: translate(3%, 35%);
            transform: translate(3%, 35%); }
  90% {
    -webkit-transform: translate(-10%, 10%);
            transform: translate(-10%, 10%); } }

@keyframes grain {
  0%, 100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  10% {
    -webkit-transform: translate(-5%, -10%);
            transform: translate(-5%, -10%); }
  20% {
    -webkit-transform: translate(-15%, 5%);
            transform: translate(-15%, 5%); }
  30% {
    -webkit-transform: translate(7%, -25%);
            transform: translate(7%, -25%); }
  40% {
    -webkit-transform: translate(-5%, 25%);
            transform: translate(-5%, 25%); }
  50% {
    -webkit-transform: translate(-15%, 10%);
            transform: translate(-15%, 10%); }
  60% {
    -webkit-transform: translate(15%, 0%);
            transform: translate(15%, 0%); }
  70% {
    -webkit-transform: translate(0%, 15%);
            transform: translate(0%, 15%); }
  80% {
    -webkit-transform: translate(3%, 35%);
            transform: translate(3%, 35%); }
  90% {
    -webkit-transform: translate(-10%, 10%);
            transform: translate(-10%, 10%); } }
