@import "_reset.scss";
@import "_mixins.scss";
@import "_palette.scss";

body {
  font-family: 'Slabo 27px', serif;
  font-size: 1.3rem;
  line-height: 1.6em;
  letter-spacing: 0.02em;
  color: $color1;
  margin: 0;
  padding: 0;

}
a {
  color: $color2;
}

.heading, h1, h2, h3, h4, h4, h5, h6, strong, b {
  font-family: 'Do Hyeon', sans-serif;
  font-weight: 400;
  line-height: 1.2em;
  letter-spacing: 0.04em;
}
b, strong {
  color: $color4;
}

* + p {
  padding-top: 1em;
}

header, section, footer {
  position: relative;
  padding: 10rem 30px;
  text-align: center;

  margin-bottom: 30px;


  h2 {
    margin-bottom: 3em;

    @include mq-mobile {
      margin-bottom: 2em;
    }
  }

  @include mq-mobile {
    padding: 3rem 30px;
  }
}

header {
  background-color: $color1;
  color: white;

  @include mq-tablet-sm {
    .flexbox {
      flex-direction: column-reverse;
    }
    .content-side {
      margin-top: 0;
    }
    .content-side:nth-child(1) {
      margin-top: 2em;
    }
  }
}

footer {
  padding: 3rem 30px;
}

.wrap {
  width: 1000px;
  max-width: 100%;
  margin: auto;
}
.wrap-wide {
  width: 1200px;
}

.flexbox {
  display: flex;
  justify-content: space-between;
  text-align: left;
  align-items: center;

  @include mq-tablet-sm {
    flex-direction: column;
  }
}
.flextop {
  align-items: stretch;
}

.feature-logo {
  background-color: white;
  padding: 2em;
  //clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  color: $color1;
  //text-transform: uppercase;
  @extend .heading;
  font-size: 4em;
  transform: rotate3d(-1, 1, -.25, 20deg);
  animation: logowiggle 3s infinite;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  border-radius: 30%;
  background-image: url(../images/audio-wave.svg);
  background-repeat: no-repeat;
  //background-size: cover;
  background-attachment: fixed;
  background-position: 50% 0%;

  text-shadow: 4px 4px white;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 5em;
  height: 5em;

  @include mq-tablet-sm {
    width: 3em;
    height: 3em;
    padding: 1em;
    background-size: 200% auto;
    background-attachment: local;
  }
  @include mq-mobile {
    width: 2em;
    height: 2em;
    margin: 0;
  }
}

@keyframes logowiggle {
  0% {
    transform: rotate3d(-1, 1, -.25, -20deg);
  }
  50% {
    transform: rotate3d(-1, 1, -.25, 50deg);
  }
  100% {
    transform: rotate3d(-1, 1, -.25, -20deg);
  }
}

.content-side, .content-col {

  & + & {
    margin-left: 2rem;

    @include mq-tablet-sm {
      margin-left: 0;
      margin: auto;
      margin-top: 5rem;
    }
  }


}
.content-side {
  min-width: 30%;
}
.content-col {
  width: 100%;
  display: flex;
  flex-direction: column;

  h3 {
    text-align: center;
  }

  .card {
    height: 100%;
  }

  .img {
    text-align: center;
    background-color: rgba($color1, .1);

    img {
      margin: auto;
    }
  }
}

.hlight {
  display: inline-block;
  padding-bottom: .4em;
  border-bottom: .1em solid $color5;
}
.hbox {
  display: inline-block;
  padding: .4em .7em;
  border-bottom: 0px none;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
  border-radius: .2em;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin: auto;
  margin-bottom: 1em;

}


.card {
  border-radius: 1em;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
  overflow: hidden;

  p {
    padding: 1em;
     & + p {
       padding-top: 0;
     }
  }
}

.type1 {
  h3, b { color: $color2; }
}
.type2 {
  h3, b { color: $color4; }
}
.type3 {
  h3, b { color: $color5; }
}

.quote {
  background-color: $color2;

  blockquote {
    font-size: 2rem;
    line-height: 1.5;
    text-align: left;
    border-left: .5em solid $color3;
    padding-left: 1em;
    margin-bottom: 1em;
    color: white;
  }
}

.logo {
  width: 200px;
  margin: auto;

  img {
    width: 100%;
  }
}

.workwith {
  background-color: $color4;
  b {
    color: $color2;
  }

  .flexbox {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
  }
}

.premium {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    line-height: 1.5;
    text-align: left;

    @include mq-mobile {
      font-size: 1.2em;
    }
  }

  li {
    padding-left: 3em;
    background-image: url(../images/tick.svg);
    background-size: 2em auto;
    background-repeat: no-repeat;
    & + li {
      margin-top: 3em;
    }
  }
  strong {
    display: block;
    color: $color2;
  }
}

.download {
  background-color: $color1;
  color: white;
}

.button {
  font-size: 3rem;
  padding: .5em .8em;
  background-color: $color5;
  border-radius: .4em;
  text-decoration: none;
  color: white;
  display: inline-block;

  transition: .2s all;
  margin-bottom: 1em;

  span {
    display: inline-block;
    vertical-align: middle;
  }
  small {
    font-size: 1rem;
    display: inline-block;
    line-height: 1em;
  }

  &:hover {
    background-color: $color4;
  }

  @include mq-mobile {
    font-size: 2rem;
  }
}

$facebook_blue: #4C77D8;
$twitter_blue: #059FF5;
$linkedin_blue: #0073b1;
$whatsapp_green: #01e675;
.social {
  position: fixed;
  top: 120px;
  right: 0;
  z-index: 500;
  background: white;

  @include mq-mobile {
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    transform: none;
  }

  strong {
    display: block;
    font-size: 11px;
    text-align: center;
    padding: 3px;

    @include mq-mobile {
      display: none;
    }
  }

  a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mq-mobile {
      width: 100%;
      height: 30px;
    }

    img {
      max-width: 60%;
      max-height: 60%;
      transition: .2s transform;
    }
    &.fb { background-color: $facebook_blue; }
    &.tw { background-color: $twitter_blue; }
    &.li { background-color: $linkedin_blue; }
    &.wa { background-color: $whatsapp_green; }
    &.em { background-color: black; }
    &:hover,
    &:focus {
      img {
        transform: scale(1.3);
      }
    }
  }
}


.page-overlay {
  position: fixed;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  pointer-events: none;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s all;
  opacity: 0;
  overflow: hidden;

  &.open {
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    pointer-events: auto;
  }

  &__bg {
    position: absolute;
    top: -100%;
    left: -100%;
    width: 300%;
    height: 300%;
    background-image: url(../images/grainy.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .5;
    pointer-events: none;
    z-index: 1000;
    animation: grain 12s steps(10) infinite;
    z-index: 10;
  }

  &__text {
    position: relative;
    z-index: 20;
    padding: 2em;
    background-color: rgba($color2, 1);
    border-radius: 10px;
    color: white;
    max-width: 90%;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
    text-align: center;

    a { color: white; }
  }
}

@keyframes grain {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(0%, 15%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(-10%, 10%) }
}

.premium-img {

  text-align: center;
  margin-bottom: 2em;

  img {
    display: block;
    margin: auto;
    max-width: 600px;
  }
}
